/* filter container*/
#filter{
    position: relative;
    top: 42px;
    border: 1px solid black;
    width:240px;
    background-color: rgb(255, 241, 217);
}
/*HTML form*/
#filterForm div{
    border-bottom: 2px solid black;
}
#titleDiv{
    text-align: center;
    padding: 20px;
}
#brand{
    margin: 3px;
    display:block;
}
#brand p{
    font-size: large;
    display: inline-flex;
}
/*Gallery*/
#photos{
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    position: relative;
    float: right;
    top: 42px;
    width: 87%;
    height:100%;
}
#searchBar{
    width: 400px;
    position: relative;
    left: 40%;
    top: 10px;
    border-radius: 10px;
}
/*Card Containers*/
#card{
    background-color: white;
    width: 200px;
    height: 300px;
    box-sizing: border-box;
    border:1px solid black;
    float: left;
    text-align:center;
}
/*Card Style Front*/
#card.front{
    background: white;
    color: black;
}
#card.front img{
    width: 198px;
    height: 150px;
}
#desc{
    display: none;
}
/*Card Style Back*/
#card.back img{
    display: none;
}
#card.back {
    background: red;
    color: red;
}
#card.back #desc{
    display: contents;
    color: black;
}